<span>Enter Design flow (Tf) temperature:<br></span>

<select onchange = {{action (mut emitterSpecifications.designFlowTemp) value="target.value"}}>
  {{#each emitterSpecifications.designFlowTempOptions as |designFlowTempOption|}}
    <option>{{designFlowTempOption}}</option>
  {{/each}}
</select>

{{#if emitterSpecifications.isCustomDesignFlowTemp}}
  <span><br>Enter custom Design Flow Temperature:<br></span>
  {{input type="number" value=emitterSpecifications.customDesignFlowTemp}}
{{/if}}
