<ul class="tabs-selection-bar">
  {{#each inputTabs as |tab|}}
    <li><a>{{tab}}</a></li>
  {{/each}}
</ul>

{{site-inputs siteInput=siteInput}}
{{room-inputs roomInput=roomInput createRoom=(action createRoom)}}
{{emitter-specifications emitterSpecifications=emitterSpecifications}}
