.defaultCollapsableClass
{
  display: block;
  margin: 0;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 30px;
  background-color: lightgreen;
}

.expandContractToggleFirst
{
  border-left: 3px solid lightgrey;
  border-right: 3px solid lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  margin: 0;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 30px;
  background-color: lightgreen;
}

.expandedContent
{
  border-left: 3px solid lightgrey;
  border-right: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  padding-right: 10px;
  width: 100%;
}

.defaultCollapsableClass:hover , .expandContractToggleFirst:hover
{
  background-color: green;
}

.calculator
{
  position: absolute;
  left: 30px;
  right: 30px;
}

.hiddenHandler
{
  border-bottom: 3px dotted grey;
}

select, input
{
  margin: 10px 0px;
}

td, th
{
  border: 1px solid black;
  height: 50px;
  width: 160px;
}

th
{
  background-color: #FFBB55;
}

td input
{
  width: 80%;
}

table
{
  table-layout: fixed
}
